accelerate==0.15.0
colorama==0.4.6
diffusers==0.11.1
keyboard==0.13.5
pynvml==11.4.1
tensorboard==2.11.2
torch==1.13.1
torchaudio==0.13.1
torchvision==0.14.1
tqdm==4.64.1
transformers==4.25.1
wandb==0.13.9
